.container {
	max-width: 960px;
}

.container .gallery a img {
	float: left;
	width: 25%;
	height: auto;
	border: 2px solid #fff;
	-webkit-transition: -webkit-transform .15s ease;
	-moz-transition: -moz-transform .15s ease;
	-o-transition: -o-transform .15s ease;
	-ms-transition: -ms-transform .15s ease;
	transition: transform .15s ease;
	position: relative;
}

/*
 * Custom translucent site header
 */
.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
	color: #999;
	transition: ease-in-out color .15s;
	text-decoration: none;
}

.site-header a:hover {
	color: #fff;
	text-decoration: none;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.justified h5 {
	text-transform: uppercase !important;
	margin-top: 1.5rem !important;
/* 	color: #black; */
}

.justified p, .justified li {
	text-align: justify;
	text-justify: auto;
	width: 100%;
	max-width: 95%;
	margin: 0 auto;
	color: #626262;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
 /*
.product-device {
	position: absolute;
	right: 10%;
	bottom: -30%;
	width: 300px;
	height: 540px;
	background-color: #333;
	border-radius: 21px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.product-device::before {
	position: absolute;
	top: 10%;
	right: 10px;
	bottom: 10%;
	left: 10px;
	content: "";
	background-color: rgba(255, 255, 255, .1);
	border-radius: 5px;
}

.product-device-2 {
	top: -25%;
	right: auto;
	bottom: 0;
	left: 5%;
	background-color: #e5e5e5;
}
*/

/*
 * Extra utilities
 */
.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	flex: 1;
}

@media ( min-width : 768px) {
	.flex-md-equal>* {
		-ms-flex: 1;
		-webkit-box-flex: 1;
		flex: 1;
	}
}

.overflow-hidden {
	overflow: hidden;
}